@media screen and (max-width: 1200px) {
  .header {
    height: 495px;
  }
  .header::before {
    width: 300px;
    top: 22.3%;
  }
  .header .about .small {
    margin: 15px 0;
  }

  .fist .main_header {
    height: 200px;
  }
  .fist .main_header .lines .line-big {
    position: absolute;
    left: 75px;
    top: 100px;
    border-bottom: 3px solid #005bc1;
    width: 70px;
  }
  .fist .main_header .lines .line-small {
    position: absolute;
    left: 115px;
    top: 113px;
    border-bottom: 3px solid #005bc1;
    width: 30px;
  }
  .fist .main_header .name {
    top: 80px;
  }
  .fist .main_header .slider-nav {
    font-size: 30px;
  }
  .fist .main_header .slider-nav .prev a {
    width: 40px;
    height: 50px;
    margin-top: 10%;
    margin-left: 90.5%;
  }
  .fist .main_header .slider-nav .next a {
    width: 40px;
    height: 50px;
    margin-top: 10%;
  }
  .fist .carousel {
    margin-left: 3%;
  }
  .fist .carousel .text1 {
    left: 20%;
  }
  .fist .carousel .text2 {
    left: 70%;
  }

  .second .main_header {
    height: 220px;
  }
  .second .main_header .lines .line-big {
    position: absolute;
    left: 75px;
    top: 120px;
    border-bottom: 3px solid #005bc1;
    width: 70px;
  }
  .second .main_header .lines .line-small {
    position: absolute;
    left: 115px;
    top: 133px;
    border-bottom: 3px solid #005bc1;
    width: 30px;
  }
  .second .main_header .name {
    top: 100px;
  }
  .second .slider .slides .slide-1 .one img {
    width: 99%;
  }
  .second .slider .slides .slide-1 .one .text1 {
    width: 200px;
    top: 70%;
    left: 9%;
  }
  .second .slider .slides .slide-1 .one .text2 {
    width: 200px;
    top: 70%;
    left: 42.3%;
  }
  .second .slider .slides .slide-1 .one .text3 {
    width: 200px;
    top: 70%;
    right: 0.2%;
  }
  .second .slider .slides .slide-2 .about1, .second .slider .slides .slide-2 .about2, .second .slider .slides .slide-2 .about3 {
    margin-right: 30px;
  }

  .third .main_header .lines .line-big {
    position: absolute;
    left: 75px;
    top: 100px;
    border-bottom: 3px solid #005bc1;
    width: 70px;
  }
  .third .main_header .lines .line-small {
    position: absolute;
    left: 115px;
    top: 113px;
    border-bottom: 3px solid #005bc1;
    width: 30px;
  }
  .third .div .text {
    margin: 0 55px 0 50px;
  }

  .fourth .main_header .lines .line-big {
    position: absolute;
    left: 15px;
    top: 150px;
    border-bottom: 3px solid #005bc1;
    width: 70px;
  }
  .fourth .main_header .lines .line-small {
    position: absolute;
    left: 55px;
    top: 163px;
    border-bottom: 3px solid #005bc1;
    width: 30px;
  }
  .fourth .main_header .button {
    width: 150px;
  }
  .fourth .main_header .button a p {
    margin: 10px 19px;
  }
  .fourth .news .news1 img {
    width: 40%;
  }
  .fourth .news .news1 .text1 {
    width: 55%;
  }
  .fourth .news .news1 .text1 .name1 .grey {
    font-size: 11px;
  }
  .fourth .news .news1 .text1 p {
    margin-bottom: 5px;
  }
  .fourth .news .news1 .text1 a {
    font-size: 12px;
  }
  .fourth .news .news2, .fourth .news .news3 {
    width: 25%;
  }
  .fourth .news .news2 .oswald, .fourth .news .news3 .oswald {
    font-size: 16px;
    margin-bottom: 3px;
  }
  .fourth .news .news2 .text2 .grey, .fourth .news .news3 .text2 .grey {
    margin-left: 4px;
    font-size: 11px;
  }

  .fifth .contacts {
    margin: 20px 0 0 200px;
  }
  .fifth .menu {
    margin: 20px 0 0 200px;
  }
  .fifth .footer {
    margin: 20px 0 0 200px;
  }
}
@media screen and (max-width: 991px) {
  .header {
    height: 400px;
  }
  .header header {
    justify-content: space-between;
    padding: 11px 20px 0 20px;
  }
  .header header .logo {
    font-size: 16px;
  }
  .header header img {
    width: 40px;
    margin-bottom: 10px;
  }
  .header header .menu ul li a {
    font-size: 12px;
    margin-right: 20px;
  }
  .header:before {
    top: 18.7%;
    left: 200px;
  }
  .header .about .big {
    font-size: 32px;
  }
  .header .about button {
    padding: 7px 25px;
  }

  .fist .main_header {
    width: 90%;
  }
  .fist .main_header .slider-nav .prev a {
    margin-left: 91%;
  }

  .second .main_header {
    width: 90%;
  }
  .second .slider {
    width: 80%;
    margin-left: 10%;
  }
  .second .slider .slides .slide-1 .one .text1 {
    left: 7.8%;
  }
  .second .slider .slides .slide-1 .one .text2 {
    left: 41.1%;
  }
  .second .slider .slides .slide-1 .one .text3 {
    right: 0.3%;
  }
  .second .slider .slides .slide-2 .about1, .second .slider .slides .slide-2 .about2, .second .slider .slides .slide-2 .about3 {
    margin-right: 10px;
  }

  .third .main_header {
    width: 90%;
  }
  .third .div .text {
    width: 250px;
    margin: 0 95px 0 30px;
    font-size: 16px;
  }
  .third .div .example {
    width: 500px;
    height: 350px;
  }
  .third .div .example .up .name {
    margin: 10px 3px 1px 7px;
    font-size: 16px;
  }
  .third .div .example .up .slider-nav {
    width: 70px;
    height: 35px;
    font-size: 18px;
  }

  .fourth .main_header {
    width: 90%;
    margin-left: 11.4%;
  }
  .fourth .main_header .button {
    right: 5%;
  }
  .fourth .news .news1 img {
    display: none;
  }
  .fourth .news .news1 .text1 {
    width: 95%;
    margin-left: 0;
  }
  .fourth .news .news2 .small, .fourth .news .news3 .small {
    font-size: 12px;
    margin-top: 10px;
  }
  .fourth .news .news2 .text2 img, .fourth .news .news3 .text2 img {
    display: none;
  }
  .fourth .news .news2 .text2 .grey, .fourth .news .news3 .text2 .grey {
    margin-top: 40px;
  }
  .fourth .news .news3 .text2 .grey {
    margin-top: 65px;
  }

  .fifth {
    margin-top: 0;
  }
  .fifth .contacts {
    font-size: 14px;
    margin: 20px 0 0 150px;
    padding-top: 0;
  }
  .fifth .menu {
    margin: 10px 0 0 150px;
  }
  .fifth .menu .one li {
    margin-right: 50px;
  }
  .fifth .menu .one li .go {
    margin-left: 17px;
  }
  .fifth .menu .two li {
    margin-right: 72px;
  }
  .fifth .footer {
    margin: 10px 0 0 150px;
    font-size: 10px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    height: 300px;
  }
  .header header .logo {
    font-size: 12px;
  }
  .header header img {
    width: 35px;
    margin-bottom: 13px;
  }
  .header header .menu {
    display: none;
  }
  .header header .hamburger-menu {
    display: block;
  }
  .header header .hamburger-menu #menu__toggle {
    opacity: 0;
  }
  .header header .hamburger-menu .menu__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 15px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .header header .hamburger-menu .menu__btn .line1 {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  .header header .hamburger-menu .menu__btn .line2 {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: -10px;
  }
  .header header .hamburger-menu .menu__btn .line3 {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 10px;
  }
  .header header .hamburger-menu ul {
    position: fixed;
    top: 0;
    visibility: hidden;
    right: -100%;
    width: 200px;
    height: 25%;
    padding: 60px 0 0 0;
    background: rgba(0, 91, 193, 0.6);
    box-shadow: inset 1px 1px 10px white;
  }
  .header header .hamburger-menu ul li a {
    padding: 0 24px;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 400;
  }
  .header header .hamburger-menu ul li a:hover {
    background: rgba(255, 255, 255, 0.349);
  }
  .header header .hamburger-menu #menu__toggle:checked ~ .menu__btn > .line1 {
    transform: rotate(45deg);
  }
  .header header .hamburger-menu #menu__toggle:checked ~ .menu__btn > .line2 {
    top: 0;
  }
  .header header .hamburger-menu #menu__toggle:checked ~ .menu__btn > .line3 {
    top: 1.65px;
    transform: rotate(-45deg);
  }
  .header header .hamburger-menu #menu__toggle:checked ~ ul {
    visibility: visible;
    right: 0;
  }
  .header:before {
    width: 200px;
    top: 21%;
    left: 180px;
  }
  .header .about {
    width: 330px;
    left: 29%;
  }
  .header .about .big {
    font-size: 24px;
  }
  .header .about .small {
    font-size: 12px;
  }
  .header .about button {
    padding: 5px 12px;
  }

  .fist .main_header {
    height: 150px;
  }
  .fist .main_header .lines .line-big {
    position: absolute;
    left: 75px;
    top: 100px;
    border-bottom: 3px solid #005bc1;
    width: 60px;
  }
  .fist .main_header .lines .line-small {
    position: absolute;
    left: 105px;
    top: 113px;
    border-bottom: 3px solid #005bc1;
    width: 30px;
  }
  .fist .main_header .name {
    left: 24%;
  }
  .fist .main_header .slider-nav .prev a {
    margin-left: 88.4%;
  }
  .fist .carousel .text1, .fist .carousel .text2 {
    display: none;
  }

  .second .main_header {
    height: 150px;
  }
  .second .main_header .lines .line-big {
    position: absolute;
    left: 75px;
    top: 100px;
    border-bottom: 3px solid #005bc1;
    width: 60px;
  }
  .second .main_header .lines .line-small {
    position: absolute;
    left: 105px;
    top: 113px;
    border-bottom: 3px solid #005bc1;
    width: 30px;
  }
  .second .main_header .name {
    top: 83px;
    left: 24%;
  }
  .second .slider {
    width: 90%;
    margin-left: 5%;
  }
  .second .slider a {
    margin: 0 20px;
  }
  .second .slider .slides .slide-1 .one .text1 {
    width: 174px;
    height: 55px;
    padding: 5px;
    font-size: 14px;
    margin: 0;
  }
  .second .slider .slides .slide-1 .one .text2 {
    width: 174px;
    height: 55px;
    padding: 15px 5px;
    font-size: 14px;
    margin: 0;
  }
  .second .slider .slides .slide-1 .one .text3 {
    width: 174px;
    height: 55px;
    padding: 15px 5px;
    font-size: 14px;
    margin: 0;
  }
  .second .slider .slides .slide-2 .about1 h4, .second .slider .slides .slide-2 .about2 h4, .second .slider .slides .slide-2 .about3 h4 {
    height: 35px;
    font-size: 14px;
  }
  .second .slider .slides .slide-2 .about1 p, .second .slider .slides .slide-2 .about2 p, .second .slider .slides .slide-2 .about3 p {
    font-size: 12px;
  }

  .third .main_header {
    height: 170px;
  }
  .third .main_header .lines .line-big {
    position: absolute;
    left: 75px;
    top: 100px;
    border-bottom: 3px solid #005bc1;
    width: 60px;
  }
  .third .main_header .lines .line-small {
    position: absolute;
    left: 105px;
    top: 113px;
    border-bottom: 3px solid #005bc1;
    width: 30px;
  }
  .third .main_header .name {
    top: 83px;
    left: 24%;
  }
  .third .div .text {
    display: none;
  }

  .fourth .main_header {
    height: 170px;
  }
  .fourth .main_header .lines .line-big {
    position: absolute;
    left: 27px;
    top: 100px;
    border-bottom: 3px solid #005bc1;
    width: 60px;
  }
  .fourth .main_header .lines .line-small {
    position: absolute;
    left: 57px;
    top: 113px;
    border-bottom: 3px solid #005bc1;
    width: 30px;
  }
  .fourth .main_header .name {
    top: 83px;
    left: 24%;
  }
  .fourth .main_header .button {
    top: 80px;
  }
  .fourth .news .news1 .text1 p {
    font-size: 12px;
  }
  .fourth .news .news2 .oswald, .fourth .news .news3 .oswald {
    font-size: 14px;
  }
  .fourth .news .news2 .small, .fourth .news .news3 .small {
    font-size: 12px;
  }
  .fourth .news .news2 .text2 .grey, .fourth .news .news3 .text2 .grey {
    margin-top: 15px;
  }
  .fourth .news .news3 .text2 .grey {
    margin-top: 41px;
  }

  .fifth .contacts {
    font-size: 12px;
    margin: 10px 0 0 100px;
  }
  .fifth .menu {
    margin-left: 100px;
  }
  .fifth .menu .one {
    margin: 0;
  }
  .fifth .menu .one li a {
    font-size: 12px;
  }
  .fifth .menu .one li .go {
    margin-left: 22px;
  }
  .fifth .menu .two li a {
    font-size: 12px;
  }
  .fifth .footer {
    margin-left: 100px;
  }
}
@media screen and (max-width: 479px) {
  .header {
    height: 190px;
  }
  .header header .logo {
    font-size: 10px;
  }
  .header header .logo p {
    margin-top: -12px;
    margin-bottom: 0;
  }
  .header header img {
    width: 25px;
  }
  .header header .hamburger-menu .menu__btn {
    top: 10px;
  }
  .header header .hamburger-menu ul {
    width: 130px;
    height: 19%;
  }
  .header header .hamburger-menu ul li a {
    padding: 0 12px;
    font-size: 14px;
  }
  .header:before {
    width: 100px;
    left: 100px;
    top: 24%;
  }
  .header .about {
    width: 230px;
    left: 21.5%;
  }
  .header .about .big {
    font-size: 18px;
    margin-top: 10px;
  }
  .header .about .small {
    display: none;
  }

  .fist .main_header {
    height: 100px;
  }
  .fist .main_header .lines {
    display: none;
  }
  .fist .main_header .name {
    left: 0;
    top: 30%;
  }
  .fist .main_header .slider-nav {
    font-size: 24px;
  }
  .fist .main_header .slider-nav .prev a {
    width: 40px;
    height: 50px;
    margin-top: 6%;
    margin-left: 81.3%;
  }
  .fist .main_header .slider-nav .next a {
    width: 40px;
    height: 50px;
    margin-top: 6%;
  }

  .second .main_header {
    height: 100px;
  }
  .second .main_header .lines {
    display: none;
  }
  .second .main_header .name {
    left: 0;
    top: 30%;
  }
  .second .slider .slides {
    margin-top: 15px;
  }
  .second .slider .slides .slide-1 .one .text1 {
    width: 95px;
    height: 40px;
    font-size: 9px;
  }
  .second .slider .slides .slide-1 .one .text2 {
    width: 95px;
    height: 40px;
    font-size: 9px;
  }
  .second .slider .slides .slide-1 .one .text3 {
    width: 95px;
    height: 40px;
    font-size: 9px;
  }
  .second .slider .slides .slide-2 .about1 h4, .second .slider .slides .slide-2 .about2 h4, .second .slider .slides .slide-2 .about3 h4 {
    height: 37px;
    font-size: 10px;
  }
  .second .slider .slides .slide-2 .about1 p, .second .slider .slides .slide-2 .about2 p, .second .slider .slides .slide-2 .about3 p {
    font-size: 9px;
  }
}